@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Special+Gothic+Expanded+One&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

select{
  margin: 20px;
  padding: 7px;
  width: 120px;
  border-radius: 5px;
  border: #b5b6b7 solid 1px;
}

table{
  width: 100%;
  background: #ffffff;
  border-spacing: 0;
}


input{
  padding: 7px;
  width: 200px;
  border-radius: 5px;
  border: #b5b6b7 solid 1px;
}

pre{
  text-align: left;
}

form{
  z-index: 10;
  width: 500px;
  height: auto;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  padding: 50px;
  border-radius: 10px;
}

.form-container{
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

form select{
  margin: 0;
}

h2{
  color: #FFFFFF;

}

label{
  width: 150px;
  display: inline-block;
}

.form-actions{
  display: flex;
  align-self: flex-end;
  gap: 15px;
}

thead tr:hover{
  background: white;
}

tr:hover{
  background: #daf1f2;
  border: white solid 2px;
  border-radius: 15px;
}

th button, .pagination-numbers button{
  background: #dae6e6;
  color: black;
}

pre{
  background: #ffffff;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1)
}

pre p{
  font-family: 'Montserrat', sans-serif;
}

.filters select{
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1)
}

hr{
  color: #b5b6b7;
}